<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basics">

<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
<listener class-name="listeners.CustomListeners"/>
</listeners>

  <test name="BankManagerLogin">
    <classes>
      <class name="testcases.BankManagerLoginTest"/>
    </classes>
    </test>
    <test name ="AddCustomer">
    <classes>
      <class name="testcases.AddCustomerTest"/>
    </classes>
  </test> <!-- Test -->
  <test name ="OpenAccount">
    <classes>
      <class name="testcases.OpenAccountTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
